<%- include ('partials/_header'); %>
<div class="container form-group pt-5 mt-4">
  <form action="/add" method="POST">
    <div id="users" class="border-top-3 p-2  border border-dark col-sm-4 align-items-center top rounded form-group" style="background-color:#8380b6;">
        <h1 class="display-4" style="text-decoration-color:darkblue;">Editar Usuario</h1>
        <p class="text-danger small pt-0 mt-0">Favor de introducir todos los campos necesarios</p>
        <!-- <label align-items-center>Creación de nuevos usuario</label> -->
        <p>
        <input name="name" id="userNyA" class="form-control " value="<%= tasks.name %>" required=true>
        </p>
        <p>

            <input name="user" id="user" class="form-control" value="<%= tasks.user %>" required=true>
        </p>
        <p>
            <!-- <label>Email</label> -->
            <input type="email" name="email" id="emailUser" class="form-control" value="<%= tasks.email %>" required=true>
        </p>
        <p>


    
            <select class="custom-select" required=true name="rol" >
                <!-- <option selected>Roles</option> -->
                <option value="1">Administrador</option>
                <option value="2">Dibujante</option>
                <option value="3">Invitado</option>
                <option value="2">Soporte</option>          
              </select>

            </p> 
        <!-- <label>Rol</label> -->
        <!-- <input name="text" id="rol" class="form-control" placeholder="rol"> -->
        <!-- <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Roles
            </button>

            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Administrador</a>
              <a class="dropdown-item" href="#">Dibujante</a>
              <a class="dropdown-item" href="#">Invitado</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->
        <p>
          <select class="custom-select" required=true name="empresa" name="activated" value="<%= tasks.empresa %>">
            <option selected>Razón Social</option>
            <option value="1">Empresa 1</option>
            <option value="2">Empresa 2</option>
          </select>
        </p>  
        
        <p>
         
          <div class="form-check" required=true>
            <input class="form-check-input" type="checkbox" name="activated" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1" default="off">
              Default checkbox
            </label>
          </div>
          
            
        </p>
        <br>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="/">ssss</a>
        


    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</form>
</div>
<%- include ('partials/_footer'); %>