<%- include ('partials/_header'); %>
<pre>

</pre>
<div class="container form-group pt-5 mt-4">
    <form action="/add" method="POST">
        <div id="users" class="border-top-1  border border-dark col-sm-5 top rounded form-group" style="background-color:#8380b6;">
            <h1 class="display-4" style="text-decoration-color:darkblue;">Usuarios </h1>
            <p class="text-sucess small pt-0 mt-0">Listado de usuarios registrados en InfraMaps</p>
            <!-- <label align-items-center>Creación de nuevos usuario</label> -->
            
            <a class  ="btn btn-success" href= "/add" role="button">Agregar un usuario</a>
            <!-- <a class= "btn btn-primary" href="/add" role="button">Link</a> -->
        
            <div class="container form-group"></div><table class=" table table-bordered table-hover pt-1 mt-1">
                      <thead>
                          <tr>
                              <th>Usuario</th>
                              <th>Status</th>
                              <th>Edición</th>
                          </tr>
                        </thead>
                        <tbody>
                           
                               
                                <% for(var i=0; i < tasks.length; i++) { %>
                                    <tr></tr>
                                  <td><%= tasks[i].name %></td>
                                  <td><%= tasks[i].email %></td>
                                  <td>
                                    <a href='/edit/<%= tasks[i].id %>' class="btn btn-info border btn-sm">Editar</a>
                                    <a href="/delete/<%= tasks[i].id %>" class="btn btn-danger border btn-sm">Eliminar</a>
                                </td>
                                  <% } %>
                                </tr>
                            
                                <!-- <tr>
                                <td scope="row">2332</td>
                                <td>2</td>
                                <td>
                                    <a href='/' class="btn btn-info border btn-sm">Editar</a>
                                    <a href='/' class="btn btn-danger border btn-sm">Eliminar</a>
                                </td>
                                
                            </tr> -->

                        </tbody>
                  </table>
                  <br>
        
            
            
    
    
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </form>
</div>
    <%- include ('partials/_footer'); %>