
<%- include ('partials/_header'); %>

<div id="map-template"> </div>
<!-- Make sure you put this AFTER Leaflet's CSS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- sin este scrip llega los datos a mapear al mapa de leafet -->
<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>

<!-- <script type="text/css"  src="/js/main.js"></script> -->


<!-- CDN para el toolbox -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
<script>
    console.log("Comienzo de script general del mapa")
    const osmUrl= 'https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png'
    const googleUrl = 'http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}';
    osmAttrib = '&copy; <a href="https://about.google/">Google</a> contributors'
    osmAttrib1 = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    
    
    
    
        
        
        
    
    
    
    //const map=L.map('map-template').setView([51.505, -0.09], 13);
    //Vamos a ordenar la creación de capas, overlays y objetos....
    var optionsMap=  { center: new L.LatLng(51.505, -0.04), zoom: 13 , zoomcontrol: true}
    
    map = new L.Map('map-template', optionsMap)
    var optionsOsm = { maxZoom: 22, attribution: osmAttrib1 }
    osm = L.tileLayer(osmUrl, optionsOsm)
    // console.log(osm)
    var optionsOsm1= {attribution: osmAttrib}
    osm1=L.tileLayer(googleUrl,optionsOsm1)
    // console.log(osm1)
    osm.addTo(map)
    
    var baseLayers1 = {
        'OpenStreetMap': osm,
        'Google': osm1
    }
    var optionLayer=  {collapsed : false, position: 'topright'} //values are:'topleft', 'topright', 'bottomleft' or 'bottomright'

    console.log("cargando datos a las capas")

    /////////////Borrar cdo se pueda!!!//////////////7
var littleton = L.marker([39.61, -105.02]).bindPopup('This is Littleton, CO.'),
    denver    = L.marker([39.74, -104.99]).bindPopup('This is Denver, CO.'),
    aurora    = L.marker([39.73, -104.8]).bindPopup('This is Aurora, CO.'),
    golden    = L.marker([39.77, -105.23]).bindPopup('This is Golden, CO.');
///////////////////////////////////////////////////////////////////////////////////

var cities = L.featureGroup([littleton, denver, aurora, golden]);
var overlayMaps = {
    "Objetos": cities
};
L.control.layers(baseLayers1, overlayMaps,optionLayer).addTo(map)

map.zoomControl.remove();                                                       //código para pasar a español el texto de la herramienta de zoom
L.control.zoom({zoomInTitle: 'Acercar', zoomOutTitle: 'Alejar'}).addTo(map)

var scale = L.control.scale(); // Creating scale control
scale.addTo(map); // Adding scale control to the map
    
    
    
    // L.control.layers(objetosOverlays).addOverlay(map)
    // L.control.layers(objetosOverlays).addTo(map)
    
    
    getView();
    
    //funcion que se dispara cuando se tiene nuevas coordenadas del centro del mapa pero está estable.
    map.on('moveend', function(ev) {
        // alert(ev.latlng); // ev is an event object (MouseEvent in this case)
        // console.log((ev))
        var center = map.getCenter()
        var zoom = map.getZoom()
    
        var views = {"zoomLevel": zoom, "centerCoords":center} 
        
        console.log("estas son las coordenadas actuales a grabar")
        console.log(views)
    
        //función que se encarga de tomar los datos de las vistas actuales y las envia al backend para almacenarlas
        async function postView(){
             const options ={
                 method : 'POST',
                 headers : {
                     'Content-Type' : 'application/json'
                 },
                 body:JSON.stringify(views)
                };
                console.log("llegamos hasta acá?")
             fetch('/view', options)
            
    
         }
         postView();
    });
    
    
    ///////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////// algoritmo que agrega un toolbox //////////////////////////////////////////
    console.log("Creando las features necesarias")
    var drawnItems = new L.FeatureGroup();
    map.addLayer(drawnItems);
    var drawControl = new L.Control.Draw({
        position: 'topleft',
        
        draw: {
            draw:false,
            polyline: true,
            polygon: true,        
            circle: true,
            rectangle: true,
            marker: true
             }, 
        edit: {
            edit: true,
            // featureGroup: drawnItems, 
        featureGroup:  cities
             }
        });
         map.addControl(drawControl);
        //  var layerGlobal =layer
         map.on(L.Draw.Event.CREATED, function (e) {
       var type = e.layerType,
           layer = e.layer;
          
           console.log("veamos que tiene layer..")
           console.log(layer._latlng)
       if (type === 'marker') {
           // Do marker specific actions
        //    var layer = L.marker(layer._latlng).addTo(map);
        //  layer.bindPopup('Hi There!').addTo(map);
           console.log("se esta creando un marker...")
       }
       // Do whatever else you need to. (save to db; add to map etc)
       console.log(layer)
       map.addLayer(layer);
       layer.addTo(cities)
       ///////////////////////////////////////////////////////////////////////////////////////////////////////
      
         
       
    });
    async function getView(){
      
      const response = await fetch('/view')
     //  console.log(response)
     
     const data= await response.json()
     
     let lastZoom= data.views.zoomLevel;
     console.log(data)
     let lastCenterCoords= data.views.centerCoords;
     console.log(response)
     console.log("datos anteriores: ")
     console.log(lastZoom)
     console.log(lastCenterCoords)
     map.setView(lastCenterCoords,lastZoom)
     // var holas = map.setzoom( data.views.zoomLevel )
     //{ center: new L.LatLng(51.505, -0.04), zoom: 13 }
 }
    console.log("Fin de script general del mapa")
    </script>

<script>
async function xx(){
    console.log("Limpiando Mapa")
    //  cities=[{}]; 
    // map.removeLayer(cities)
    // map.clearLayers(cities)
    // console.log(cities)
    // console.log(overlayMaps)
    // console.log(map.removeLayer(osm1))
    // console.log(overlayMaps)
    // console.log(L.control.removeLayer(drawnItems))
    // console.log(osm1.remove(map))
    // console.log(map.removeLayer(drawnItems))
    // console.log(map.layer)
    // console.log(map.removeLayer(drawnItems))
// console.log(drawnItems.remove())
// console.log(cities.remove()) //Funciona para eliminar todos los markers asociados de la visual del mapa.
// console.log(drawnItems.clearLayers())
// console.log(osm.getLayerId())
console.log(cities.getLayers())
console.log(cities.getLayerId(drawnItems))
var idPolyLine =cities.getLayerId(polyline)
console.log(idPolyLine)
// console.log(cities[polyline._leaflet_id])
// console.log(L.featureGroup[cities])

console.log(polyline.options)
// console.log(layer.cities.properties.idPolyLine)
console.log(cities.clearLayers())   //al fin!! esta función si elimina completamente todos los markers relacionados a la capa featuregroup
    // console.log(JSON.stringify(cities.toGeoJSON()))
}
    
</script>
<script>
        var latlngs = [
    [45.51, -122.68],
    [37.77, -122.43],
    [34.04, -118.2],
    [45.51, -122.68]
];

var polyline = L.polyline(latlngs, {color: 'red', opacity: 0.5});
async function xx2(){


// zoom the map to the polyline
// map.fitBounds(polyline.getBounds());

var bounds = [[54.559322, -5.767822], [56.1210604, -3.021240]];
polyline.addTo(cities)
// create an orange rectangle
L.rectangle(bounds, {color: "#ff7f00", weight: 1}).addTo(map);
// zoom the map to the rectangle bounds
// map.fitBounds(bounds);
// L.control.layers.addOverlay(overlayMaps)
// var lcontrol = L.control.layers.addControl(null,overlayMaps).addTo(map)
var counties = $.ajax({
     url: "cdn.buenosaires.gob.ar/datosabiertos/datasets/barrios/barrios.geojson",
     dataType: "json",
     success: console.log("County data successfully loaded."),
     error: function(xhr) {
     alert(xhr.statusText)
       }
     });
     $.when(counties).done(function(){
       console.log("entramos...")
       var kyCounties = L.geoJSON(counties.responseJSON).addTo(map);
     });

}

async function xx3(){

console.log("xx3")
console.log(JSON.stringify(cities.toGeoJSON()))
postData();

//función que se encarga de tomar los datos GeoJSON y enviarlos al backend para almacenarlos
async function postData(){
    console.log("enviando datos GeoJSON al backend")
    console.log(cities._layers._leaflet_id(27))
    
    const dataGeoJSON = cities.toGeoJSON()
    console.log(dataGeoJSON)
    const options ={
     method : 'POST',
     headers : {
         'Content-Type' : 'application/json'
     },
     body:JSON.stringify(dataGeoJSON)
    };
    // console.log("llegamos hasta acá?")
    const response = await fetch('/save', options)
    console.log(response)

}

        
}
    
</script>

<script>
// map.on('draw:created', function (e) {
//                 var type = e.layerType,
//                         layer = e.layer;
//                 if (type === 'circle')
//                 {
                        
//                         console.log("es un circulo...");
//                         console.log(layer._leaflet_id);
//                         console.log(layer._leaflet_id.options);
//                         console.log(layer);
//                         var radius = layer.getRadius()
//                         console.log(radius)
//                         var coords= layer.getLatLng()
//                         console.log(coords)
//                         var options1 = layer.options
//                         layer.options.fillOpacity=0.8
//                         console.log(options1)

//                         L.circle(coords, options1).addTo(map);

//                 }
//                 cities.addLayer(e.layer);
//         });

</script>


<%- include ('partials/_footer'); %>