<!-- Pantalla para la administración/creación de los usuarios de los usuarios -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!-- <script src="/node_modules/jquery/dist/jquery.js"></script> -->
    <!-- <link type="text/css" rel="stylesheet" href="/public/css/main.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  -->
    <style>
    #map-template   {
      height: 570px;
      width: 1355px;
      top: 55px;
      position: absolute;
                    }
</style>

    <title>Usuarios</title>

</head>
<body class="p-0 mb-0">
    <!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="inframaps">InfraMaps</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/map">Mapa <span class="sr-only">(current)</span></a>
          </li>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Herramientas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Capa de Dibujo</a>
            <a class="dropdown-item" href="#">Crear Capa WMS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Usuarios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users">Ver</a>
             
              <!-- <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
      
      
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" href="/load" type="submit">Search</button> -->
      <a class="btn btn-outline-success" type="button" onclick="xx();">Limpiar Mapa</a>
      <a class="btn btn-outline-success" type="button" onclick="xx1();">Agregar íconos</a>
      <a class="btn btn-outline-success" type="button" onclick="xx2();">Cargar poliniea</a>
      <a class="btn btn-outline-success" type="button" onclick="xx3();">Envio Backend</a>

      <!-- <input type="button" id="myBtn" class="btn btn-outline-success" onclick="xx();" text="holas">Este es un botón</input> -->
  </nav>